spring:
  cloud:
    gateway:
      routes:
        - id: server-order-gateway # 当前这个路由规则的名称
          uri: lb://service-order # 拦截的请求需要转发的目标uri 。lb 为交给 loadBalance 进行负载均衡。当然也可以写 http://www.baidu.com
          predicates:             # 断言匹配，匹配到则进入
            - Path=/api/order/**
        - id: server-product
          uri: lb://service-product
          predicates: # 上面是简写，这里是全写法
            name: Path # 这里指定需要用到哪个断言工厂，比如这写Path，即用 PathRoutePredicateFactory 这个断言工厂。查找的话除了官方文档，还可以看 RoutePredicateFactory 接口的实现类有哪些
            args: # 不同的断言工厂需要的参数不一样
              pattern: /api/product/**
              matchTrailingSlash: true

          order: 0 # 数字越小优先级越高